
.wrapper{
    background: url('https://i.imgur.com/sWRPpxO.jpg');
    height: 100%;
    color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* dimenciones del logo */
.logo{
    height: 130px;
    margin-bottom: 10px;
}
/* Estilo   que llevara el form */
.body{
    width: 100%;
    max-width: 430px;
    padding: 15px;
    text-align: center;
}


ion-button {
    margin-top: 20px;
}