<ion-header>
  <ion-toolbar
    >`
    <ion-buttons slot="start">
      <ion-back-button defaultHref="layout/edificio"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="textoInfo">
    <div class="d-flex">
      <div class="eBox"><h2 class="edificio">H</h2></div>
      <h2>Taller 1</h2>
    </div>

    <br />
    <div class="d-flex">
      <strong class="espacio">Orden:</strong>
      <p>9999</p>
    </div>
    <div class="d-flex">
      <strong class="espacio">Matricula:</strong>
      <p>201800370</p>
    </div>
    <div class="Horario">
      <strong>Horario</strong>
      <p>7:00 pm -5:00 pm</p>
    </div>
    <br />
    <div class="Productos">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Producto</th>
            <th scope="col">Cantidad</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Marillo</td>
            <td>2pz</td>
          </tr>
        </tbody>
      </table>
    </div>
    <br />
  </div>
</ion-content>
