.contenedor{
  width: 100%;
  height: auto;
}
.espacio{
  padding-right: .5rem;
}
.info{
  display: flex;
  flex-wrap: wrap;
  width: 100%;


}
h2{
  font-size: 2.2rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #0B3856;
}
 p {
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  color: #041b2a;
  font-weight: 400;

 }
strong{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  color: #0B3856;
  font-weight: 600;

}
.table{
  font-size: 1.4rem;
}
thead{
  background-color: #041b2a;
  font-weight: 400;
  color:white;
}

.eBox{
width: 100px;
height: 100px;
background-color:#041b2a;
text-align: center;
margin-right: 1rem;
align-items: center;
}
.edificio{
  color: white;
}

.textoInfo{
min-width: 100%;
height: 80vh;
padding: 1rem;
}

ion-thumbnail {
  --size:80%;
    --border-radius: 14px;

  }
