<div class="wrapper">
    <div *ngIf="!loading" class="body">
        <img class="logo" src="/assets/img/usuario.png" alt="login">
        <h1>Recuperar</h1>
        <!-- Formulario -->
        <form [formGroup]="recuperarUsuario" (ngSubmit)="recuperar()">

            <div class="form-floating mb-3">
                <input type="email" class="form-control" formControlName="email"  placeholder="matricula@utcancun.edu.mx">
                <label  style="color: black;">Correo Electronico</label>
                <span *ngIf="recuperarUsuario.get('email')?.hasError('required') && recuperarUsuario.get('email')?.touched" class="text-danger errorLabel">
                    El <strong>correo</strong> es requerido
                </span>
                <span *ngIf="recuperarUsuario.get('email')?.hasError('email') && recuperarUsuario.get('email')?.touched" class="text-danger errorLabel">
                    El <strong>correo</strong> es invalido
                </span>
            </div>

            <!-- Botton -->
            <div class="d-grid gap-2 mb-3">
                <button class="btn btn-primary btn-lg" [disabled]="recuperarUsuario.invalid" type="submit">Recuperar</button>
            </div>
            <ion-button [ngStyle]="{'text-transform': 'lowercase'}" (click)="goLogin()" expand="block">
                Logueate 😎
            </ion-button>
        </form>

    </div>
</div>

